@using LuxyboxIdentity.Models;

@{
    ViewBag.Title = "Cart";
}
@model LuxyboxIdentity.Data.Cart
<div class="container">
    <header class="group">
        <h1 class="cart-title">SEPETİM</h1>
    </header>
    <div class="product-list">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">Ürün Adı</div>
            <div class="col-md-2">Adet</div>
            <div class="col-md-2">Fiyat</div>
        </div>

        <div class="row product-item">
            <div class="col-md-2"><img class="blg" src="~/Content/img/blg.jpg" /></div>
            <div class="col-md-6"><a href="https://www.hepsiburada.com/apple-macbook-pro-touch-bar-intel-core-i5-8259u-8gb-256gb-ssd-macos-13-qhd-tasinabilir-bilgisayar-mr9q2tu-a-gri-p-HBV00000CVXAY?magaza=teknoraks">APPLE MACBOOK PRO</a></div>
            <div class="col-md-2"> <input type="text" class="form-control" placeholder="1" aria-describedby="basic-addon2"></div>
            
            <div class="col-md-2">1250tl</div>
        </div>
        <div class="row product-item">
            <div class="col-md-2"><img class="blg" src="~/Content/img/blg.jpg" /></div>
            <div class="col-md-6"><a href="https://www.hepsiburada.com/apple-macbook-pro-touch-bar-intel-core-i5-8259u-8gb-256gb-ssd-macos-13-qhd-tasinabilir-bilgisayar-mr9q2tu-a-gri-p-HBV00000CVXAY?magaza=teknoraks">APPLE MACBOOK PRO</a></div>
            <div class="col-md-2"> <input type="text" class="form-control" value="1" aria-d
                                          escribedby="basic-addon2"></div>
            <div class="col-md-2">1250tl</div>
        </div>
        <div>
            <button onclick="('').val(), $('').val();" class="btntext-center" id="addCartBtn">
                @Html.ActionLink("Alışverişi Tamamla", "CheckOrder", "Home")
                </button>
        </div>

        @foreach (var item in Model.CartItems)
        {
            <p class="product-name">@item.Product.Name </p>
        }
    </div>
</div>
