@model LuxyboxIdentity.Data.CheckOrder

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal">
        <h4>CheckOrder</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Gönderi Adresi:</label>
            <div class="col-md-10">
                <input class="form-control" id="ShipmentAdress" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Fatura Adresi:</label>
            <div class="col-md-10">
                <input class="form-control" id="invocieAdress" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Adı Soyadı:</label>
            <div class="col-md-10">
                <input class="form-control" id="Namesurname" type="text" />
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
             <input type="submit" value="ALIŞVERİŞİ TAMAMLA" class="btn btn-default" />
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
