@model LuxyboxIdentity.Data.Contact
@using System.Linq;

@{
    ViewBag.Title = "Contact";
}
<h2></h2>
<h3></h3>
<div>Adınız:</div>
<input type="text" name="Yourname" />
<div>E-mail Adresiniz:</div>
<input type="email" name="mail" />
<div>Mesaj Konusu:</div>
<input type="text" name="subject" />
<div>Mesajınız:</div>
<textarea name="Message" cols="40" rows="5"></textarea>
<div><button>GÖNDER</button></div>