@model LuxyboxIdentity.Data.Contact
@using System.Linq;

@{
    ViewBag.Title = "Contact";
}
<h2></h2>
<h3></h3>
<div>Adınız:</div>
<input id="name" type="text" name="Yourname" />
<div>E-mail Adresiniz:</div>
<input id="mail" type="email" name="mail" />
<div>Mesaj Konusu:</div>
<input id="subject" type="text" name="subject" />
<div>Mesajınız:</div>
<textarea id="message" name="Message" cols="40" rows="5"></textarea>
<div><button type="button" class="btn btn-default btn-contact">Gönder</button></div>